*.class

.nb-*.*

# Package Files #
*.jar
*.war
*.ear
.gradle/
.nb-gradle/
nbproject/
private/
.nb-gradle-properties
nbactions.xml
nbproject/
build/
dist/
/target/
/.nb-gradle/private/